.pane{
    -fx-background-color: white;
}

.mfx-text-field{
    -mfx-main: #3498db;
    -fx-font-size: 16;
}

.mfx-text-field-error{
    -mfx-main: #f52d2d;
    -fx-font-size: 16;
}

.text-field{
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-background-color: transparent;
}


.mfx-button{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
}

.mfx-button-menu{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: transparent;
}